node_modules/

.expo/
.expo-shared/
android/app/build/
ios/build/

tests/
__tests__/
coverage/
*.test.*
*.spec.*
*.log
*.tmp
debug/
*.bak

assets/videos/
assets/backups/
*.mp4
*.mov
*.zip
*.csv
*.sqlite
*.db

.vscode/
.idea/
.DS_Store

Thumbs.db
